/* header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.header {

  background-color: #00000057;

}

.container {
  display: flex;

}

.logo {
  position: relative;
  background-image: url('../../public/images/7.png');
  background-repeat: no-repeat;
  height: 55px;
  width: 80px;
  transform: scale(0.8);
 
}

.nevbar {
  background-color: transparent;
  border: none;
  margin-left: auto;
  font-family: 'Titillium Web', sans-serif;
}





@media (max-width: 768px){
  .headerMenu{
   display: none;
  }
}

   @media (min-width: 768px){
    .headers{
     display: none;
    }
  }





