.formContainer {
    width: 200%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.553);
  }
  
  .formContainers {
    background-image: url('../../public/images/1.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    width: 400%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 78px;
    margin-bottom: 35px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.073);
  }
  
  .formContainer .ant-form-item {
    margin-bottom: 16px;
  }
  
  @media (max-width: 768px) {
    .formBackground {
      background-image: url('../../public/images/1.jpg'); /* Replace 'path/to/your/mobile-image.jpg' with the actual path to your mobile image file */
    }
  
    .formContainer {
      max-width: 100%;
      padding: 10px;
    }
  }